<html>
  <head>
    <title>Pusher Test</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
