@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

button {
  cursor: pointer;
}

#results {
  width: 450px;
  max-height: 400px;
  border: 1px solid black;
  overflow: scroll;
}

.results_list img {
  vertical-align: middle;
}

ul li {
  list-style: none;
}

.votes li {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
}

.form-control {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.round {
  border-radius: 100%;
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  height: 20px;
  width: 20px;
  background: transparent;
}

.round:hover,
.round:focus {
  border-color: #1abc9c;
}

.btn {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  border: none;
}

.btn-primary {
  color: #ffffff;
  background: #1abc9c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #16a085;
}
